beautifulsoup4==4.6.3
certifi==2018.8.13
chardet==3.0.4
coverage==4.5.1
idna==2.7
lxml==4.2.4
requests==2.19.1
simple-slack-bot==1.2.0
six==1.11.0
slacker==0.9.42
slacksocket==0.7
urllib3==1.23
websocket-client==0.48.0
